{% if site.data.information %} {% assign info = site.data.information %}
<section>
  <h1 class="container ">{{ page.title }}</h1>
</section>
<section class="flexcontainer">
  <div class="contact-div ">
    <div class="mapouter">
      <div id="map-canvas" class="gmap_canvas ">
        <iframe
          width="100%"
          height="350"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=rua%20nossa%20senhora%20das%20gra%C3%A7as%2C%20743&t=&z=19&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe
        ><a href="https://www.enable-javascript.net/blog/divi-discount/"
          >tente divi</a
        >
      </div>
      <style>
        .mapouter {
          margin-bottom: 50px;
          position: relative;
          text-align: right;
          height: 350px;
          width: 100%;
        }
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 350px;
          width: 100%;
        }
      </style>
    </div>
    <p><b>{{ info.address }}</b></p>
    <p>Entre em contato!</p>

    <p><b>Pelos telefones</b></p>

    <p>{{ info.phone }}</p>
    <p>{{ info.phone2 }}</p>
  </div>

  <div class="container-support-content">
    <form id="contact-form" name="contact" netlify>
      <div id="nextcloud-notice" class="info-support-container hidden">
        <div class="icon-container">
          <i class="fa fa-info-circle"></i>
        </div>
      </div>
      <div class="form-group">
        <label class="float-left" for="input-prename">Nome</label>
        <input
          type="text"
          required="required"
          class="form-control"
          id="input-prename"
          value=""
          name="name"
        />
      </div>
      <div class="form-group">
        <label class="float-left" for="input-mail">Email</label>
        <input
          type="email"
          required="required"
          class="form-control"
          id="input-mail"
          name="email"
          value=""
        />
      </div>
      <div class="form-group support-form-padding-top">
        <label class="float-left" for="input-message">Mensagem</label>
        <textarea
          class="form-control support-message"
          required="required"
          rows="7"
          id="input-message"
          name="message"
        ></textarea>
      </div>

      <button type="submit" onclick="return newIdea();">Enviar</button>
    </form>
  </div>
</section>
{% endif %}
