<section><h2 class="margin-0">Dúvidas?</h2></section>

{% if site.data.information %} {% assign info = site.data.information %}

<section class="flexcontainer">
  <div class="contact-div ">
    <div class="mapouter">
      <div id="map-canvas" class="gmap_canvas ">
        <iframe
          width="100%"
          height="350"
          id="gmap_canvas"
          src="https://maps.google.com/maps?q=rua%20nossa%20senhora%20das%20gra%C3%A7as%2C%20743&t=&z=19&ie=UTF8&iwloc=&output=embed"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
        ></iframe
        ><a href="https://www.enable-javascript.net/blog/divi-discount/"
          >tente divi</a
        >
      </div>
      <style>
        .mapouter {
          margin-bottom: 50px;
          position: relative;
          text-align: right;
          height: 350px;
          width: 100%;
        }
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 350px;
          width: 100%;
        }
      </style>
    </div>
    <p><b>{{ info.address }}</b></p>
    <p>Entre em contato!</p>

    <p><b>Pelos telefones</b></p>

    <p>{{ info.phone }}</p>
    <p>{{ info.phone2 }}</p>
  </div>

  <div class="contact-div ">
    <form id="contact-form" name="contact" netlify>
      <label class="float-left" for="input-prename">Nome</label>
      <input
        name="name"
        type="text"
        required="required"
        class="form-control"
        id="input-prename"
        name="input-prename"
        value=""
      />

      <label class="float-left" for="input-mail">Email</label>
      <input
        type="email"
        required="required"
        class="form-control"
        id="input-mail"
        name="input-mail"
        value=""
        name="email"
      />

      <label class="float-left" for="input-message">Mensagem</label>
      <textarea
        class="form-control support-message"
        required="required"
        rows="7"
        name="message"
        id="input-message"
        name="input-message"
      ></textarea>

      <button type="submit">Enviar</button>
    </form>
  </div>
</section>
{% endif %}
<hr />
