<section><h2 class="margin-0">Áreas de Atuação</h2></section>

{% if site.data.information %} {% assign info = site.data.information %}
<section class="flexcontainer">
  <div class="list">
    <ul>
      <li>
        <div class="list-box">
          <div class="image">
            <img src="photos/family.jpg" />
          </div>
          <div class="list-box-text">
            <div class="text">
              <h2>Familia</h2>
            </div>
            <div class="text">
              Atuação jurídica junto a processos administrativos e judiciais
              Consultoria e elaboração de parecer Elaboração de contratos,
              distratos e minutas Relações de consumo e consultoria preventiva
              em diminuição de riscos para empresas
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="list-box">
          <div class="image">
            <img src="photos/family.jpg" />
          </div>
          <div class="list-box-text">
            <div class="text">
              <h2>Familia</h2>
            </div>
            <div class="text">
              Separação judicial Divórcio Alimentos Investigação de Paternidade
              Tutela Guarda e visitação de menores Reconhecimento e Dissolução
              de União Estável Pacto antenupcial Testamento Inventário Judicial
              e Extrajudicial Casamento Doação Questões de gênero
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
{% endif %}
<hr />
