<!-- start Mobile Nav section -->



<!-- start Header section -->


<header class="site-header"  style="background-color: #300;">
  <div class="container ">
      <div
      class="ui pointing menu stackable "
      role="navigation"
      aria-label="Main menu"
    >
    <h1 class="logo ">
        <a href="{{ "/" | relative_url }}">
         
        </a>
      </h1>
      
      
       <!--<nav class="main-nav right menu">
        <!--<ul class="navigation">
       
          {% include navigation.html navigation=site.data.navigation %} 

        </ul>-->

         <div class="right menu navigation">
        {% include navigation.html navigation=site.data.navigation %} 
     
      </div>
      <div class="hamburger">
        <span class="hamburger-bun"></span>
        <span class="hamburger-patty"></span>
        <span class="hamburger-bun"></span>
      </div>

     <!--</nav>-->
  </div>
    </div>

  
</header>

<!-- end of Header section -->
