<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="keywords"
    content="Sabino Rocha Advogados Associados é um escritório localizado no Rio de Janeiro, 
    com forte atuação nas áreas cível, família, criminal e imobiliário, Advogado, Advogado RJ, Advogados"
  />
  <meta property="og:image" content="{{ site.url }}/photos/netjapa.jpeg" />
  <meta charset="utf-8" />
  <title>
    {% if page.section == "home" %}{{ site.title }}{% else %}{{ page.title |
    default: site.title }}{% endif %}
  </title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <!-- 
   MADE BY NETJAPA
  -->
</head>
