<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="keywords"
    content="Netjapa, netjapa.com, Criação de sites,  Desenvolvimento de sites. apps,
  mobile apps, aplicativos para celular,
  aplicativos android, site, app, aplicativo, e-commerce, loja virtual"
  />
  <meta property="og:image" content="{{ site.url }}/photos/netjapa.jpeg" />
  <meta charset="utf-8" />
  <title>
    {% if page.section == "home" %}{{ site.title }}{% else %}{{ page.title |
    default: site.title }}{% endif %}
  </title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css" />

  <!-- 
   MADE BY NETJAPA
  -->
</head>
