<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="keywords"
    content="Sabino Rocha Advogados Associados é um escritório localizado no Rio de Janeiro, 
    com forte atuação nas áreas cível, família, criminal e imobiliário, Advogado, Advogado RJ, Advogados"
  />
  <meta property="og:image" content="{{ site.url }}/photos/netjapa.jpeg" />
  <meta charset="utf-8" />
  <title>
    {% if page.section == "home" %}{{ site.title }}{% else %}{{ page.title |
    default: site.title }}{% endif %}
  </title>
  
   <link
    rel="stylesheet"
    href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css"
  />

  <link
    rel="stylesheet"
    href="https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css"
  />

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
   <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  />


  <!-- 
   MADE BY NETJAPA
  -->
</head>
