<section><h2 class="text-center">Publicações recentes</h2></section>

<div class="list">
  <ul>
    {% for post in site.posts limit:7 %}

    <li>
      <div class="list-box">
        <div class="image">
          <a href="{{ post.url }}" class="image">
            {% if spost.post-images[0] == null %}
            <img src="{{ post.post-images[0] }}" />
            {% else %} {% include youtube-thumbnail.html id='QH2-TGUlwu4' %} {%
            endif %}
          </a>
        </div>
        <div class="list-box-text">
          <div class="text">
            <h2>{{ post.title }}</h2>
          </div>
          <div class="text">
            {{ post.heading}}
          </div>
          <div class="text">
            <time
              class="post-date"
              datetime="{{ post.date | date_to_xmlschema }}"
            >
              {% include data.html date=post.date %}
            </time>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
