<section><h2 class="text-center">Trabalhos Recentes</h2></section>
<section>
  <div class="works">
    <!-- orders content according to the "publishdate" field in front matter -->
    {% for post in site.posts limit:7 %}

    <div class="recent">
      <a href="{{ post.url }}">
        <img
          class="img-fluid img-thumbnail pull-left"
          src="{{ post.post-images[0] }}"
        />
      </a>

      <h3><a id="black" href="{{ post.url}}">{{ post.title }}</a></h3>

      <p>
        {{ post.heading}}
      </p>
      <p><a class="black-link" href="{{ post.site }}">{{ post.site }}</a></p>
      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
      <p class="green_status"><b>{{ post.status }}</b></p>
    </div>

    {% endfor %}
  </div>
</section>
