<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-BR" }}">
    {% seo %}
  {% include head.html %}
  <body>
      {% include header.html %}
      {% include banner.html %}

       {% if page.url == "/office" %} 
   {% include park.html %}
    {% endif %}
    {% if page.url == "/team" %} 
    {% include team-banner.html %}
     {% endif %}
    {% if page.url == "/contact" %} 
    {% include predio.html %}
     {% endif %}

     
      {% if page.url == "/expertise" %} 
      {% include expertise.html %}
      {% endif %}
      <section class="container pure-g">
       
          <div class="pure-u-1">
            <div class="content">
              {{ content }}
            </div>
          </div>
     
      </section>
   
      {% include footer.html %}
      {% include script.html %}
  </body>
</html>
