---
layout: default
---

<section>
  <h1 class="container ">{{ page.title }}</h1>
</section>
<section>
  <div>
    <div class="image-post">
      <a
        href="{{ page.site }}"
        title="{{ image.name }}"
        class="d-block mb-4 h-100"
      >
        <img
          class="img-fluid img-thumbnail img-responsive"
          src="{{ page.post-images[1]}}"
          alt="{{ image }}"
          title="{{ image }}"
        />
      </a>
      {% include youtube.html id='QH2-TGUlwu4' %}
    </div>

    <a href="{{ page.site }}">{{ page.site }}</a>
    <p>
      {{ page.body }}
    </p>
    <time class="post-date" datetime="{{ date_to_xmlschema }}">
      {% include data.html date=page.date %}
    </time>
  </div>
</section>
