---
layout: default
---

<section>
  <div>
    <div class="image-post">
    

        {% if page.post-images != null %}
            <img src="{{ page.post-images[0] }}" />
            {% else %} 
              {% include youtube.html id='QH2-TGUlwu4' %}
             {% endif %}
  
    </div>

    <a href="{{ page.site }}">{{ page.site }}</a>
    <p>
      {{ page.body }}
    </p>
    <time class="post-date" datetime="{{ date_to_xmlschema }}">
      {% include data.html date=page.date %}
    </time>
  </div>
</section>
