---
layout: default
---


<div class="container pure-g ">
 
  <div class="pure-u-1 pure-u-md-1">




<div class="container pure-g ">
 
  <div class="pure-u-1 pure-u-md-1">
  <div class="list-container">
  {% for post in paginator.posts %}

        <div class="list-box">
  <div class="red">
           
           <a href="{{ post.url }}" class="image">
            {% if post.post-images != null %}
            <img src="{{ post.post-images[0] }}"   />
            {% else %} 
            {% include youtube-thumbnail.html id='QH2-TGUlwu4' %}
             {% endif %}
          </a>
          
          </div>
          <div class="green">
             <a href="{{ post.url }}">
              <h2>{{ post.title }}</h2>
                </a>
          
         {{ post.body}}
         <time
              class="post-date"
              datetime="{{ post.date | date_to_xmlschema }}"
            >
              {% include data.html date=post.date %}
            </time>
       
          </div>
     
      </div>
  
      {% endfor %}
       </div>
    
</div>
</div>





<section class="container pure-g">
  <div class="pure-u-1 pure-u-md-1">
   <!-- pagination -->
          {% if paginator.total_pages > 1 %}
          <div class="pagination">
            {% if paginator.previous_page %}
            <a
              href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
              >&laquo; Voltar</a
            >
            {% else %}
            <span>&laquo; Voltar</span>
            {% endif %} {% for page in (1..paginator.total_pages) %} {% if page
            == paginator.page %}
            <span class="webjeda">{{ page }}</span>
            {% elsif page == 1 %}
            <a href="/posts/">{{ page }}</a>
            {% else %}
            <a
              href="{{ paginator.next_page_path| prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"
              >{{ page }}</a
            >
            {% endif %} {% endfor %} {% if paginator.next_page %}
            <a
              href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
              >Próximo &raquo;</a
            >
            {% else %}
            <span>Próximo &raquo;</span>
            {% endif %}
          </div>
          {% endif %}
        </div>
      </div>
</section>
</div>
</div>