---
layout: default
---

<section>
  <h1 class="container ">Publicações</h1>
</section>

<div class="list">
  <ul>
    {% for post in paginator.posts %}

    <li>
      <div class="list-box">
        <div class="image">
          <a href="{{ post.url }}" class="image">
            <img src="{{ post.post-images[0] }}" />
          </a>
        </div>
        <div class="list-box-text">
          <div class="text">
            <h2>{{ post.title }}</h2>
          </div>
          <div class="text">
            {{ post.heading}}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<section>
  <div class="works list">
    <!-- pagination -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
      <a
        href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
        >&laquo; Prev</a
      >
      {% else %}
      <span>&laquo; Prev</span>
      {% endif %} {% for page in (1..paginator.total_pages) %} {% if page ==
      paginator.page %}
      <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
      <a href="/posts/">{{ page }}</a>
      {% else %}
      <a
        href="{{ paginator.next_page_path| prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"
        >{{ page }}</a
      >
      {% endif %} {% endfor %} {% if paginator.next_page %}
      <a
        href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
        >Next &raquo;</a
      >
      {% else %}
      <span>Next &raquo;</span>
      {% endif %}
    </div>
    {% endif %}
  </div>
</section>
